*{
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}



.top-bar{
    color:#ffffff;

}
.top-bar a{
    color: #ffffff;
}

.navbar-main ul li a{
color:black;
} 
.hero-section{
    background-color: #f2f0f1;
}   
.hero-section h1{
    font-size: 60px;
}
.new-arrivals .fa-star{
    color: yellow !important;


}
.new-arrivals button{
    background-color: #ffffff;
    border:1px solid #9A9A9A;
    
    height:55px;
    width: 165px;
    border-radius: 30px;


}
.Top-selling .fa-star{
    color: yellow !important;

}  
.Top-selling button{
    background-color: #ffffff;
    border:1px solid #9A9A9A;
    height:55px;
    width: 165px;
    border-radius: 30px;
    
}

.cards .fa-star{
    color:yellow;
}
.cards h1{
font-weight: bolder;
padding: 30px;
}
.subscribe{
    background-color: black;
    padding: 50px;
    border:  25px;
    border-radius: 25px;
    margin-top:50px;
margin-bottom: -66px;
position: relative;
z-index: 9999;


}
.subscribe h1{
    font-weight: bolder;
    color: #ffffff;
}
.subscribe input{
    padding:7px 60px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.subscribe button{
    padding:7px 60px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #ffffff;
    
}



.footer{
    background-color: #F0F0F0;
    padding-top: 120px;
}
.footer img{
padding-bottom: 20px;
padding-bottom: 25px;
}
.footer p{
padding-bottom: 10px;
}
.footer i{
    border: 1px solid #9A9A9A;
    padding: 7px;
    border-radius: 50px;
    background-color:white;
margin: 5px;

}
.footer h5{
padding-bottom: 15px;
}
.footer ul li{
    padding-bottom: 15px;
}
.lower-footer{
    background-color: #F0F0F0;
    padding: 50px;
    display: flex;
    

}
.nav ol li{
color: black;
}
.reviews .review{
    border:1px solid #d1d0d0;
    border-radius: 25px;
    padding: 25px;
    height: 270px;

}
.reviews .fa-circle-check{
    color:#01AB31;
}
.review p{
    color:gray;

}
.review h4{
    color:black;
    margin: 15px 0px;
    font-size: 18px;
    font-weight: 600;
}
.review h5{
    color:gray;
    font-size: 16px;
    font-weight: 600;
}
.container .fa-star{
    color:#FFC633;

}
.b-one{
    font-weight: bold ;
    border:1px solid #9A9A9A;
    background-color: white;
    width:200px;
    padding:12px;
    border-radius: 25px;

    
}

.breadcrumb a{
    color:gray;
}
.grapic-shirt{
    margin-bottom: 30px;
}
.color-selector{
    display: flex;
}
 .color-selector .div-one{
    background-color:#4F4631;
    height: 40px;
    width:40px;
    border-radius: 50%;
}

.color-selector .div-two{
    background-color:#314F4A;
    height: 40px;
    width:40px;
    border-radius: 50%;
}
.color-selector .div-three{
    background-color:#31344F;
    height: 40px;
    width:40px;
    border-radius: 50%;
}
.chose-size{
    display: flex;
align-items: center;
flex-wrap: wrap;
gap:5px;
}
.chose-size .size-one,
.chose-size .size-two,
.chose-size .size-three,
.chose-size .size-four
{
    border:1px solid #d1d0d0;
    padding:  10px 25px;
    text-align: center;
    border-radius: 30px;
    background-color:#F0F0F0;

    
}
.chose-size .size-three{
    background-color: black;
    color: #ffffff;
}
.color-selector .fa-check{
margin: 13px;
}
.color-selector{
    gap:10px
}
#b-one{
    padding:8px 30px;
    border-radius: 25px;
    margin-top: 10px;
    border:1px solid #d1d0d0;
}
#b-two{
    color:white;
    background-color: black;
    padding:8px 50px;
    border-radius: 25px;
    margin-top: 10px;
    border:1px solid #d1d0d0;
}
.reviews h4{
    margin-bottom: 20px;
    font-weight: bolder;
}
.reviews span{
    font-weight: 500;
    color:#9A9A9A;
}
.casual-one p{
    text-align: end;
}

.casual-one i, h5, img, b,
.casual-two i, h5, img, b,
.casual-three i, h5, img, b{
    padding-bottom: 10px;
    font-weight: 600;
}

#bt-one{
    color:#ffffff;
    background-color: black;
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 20px;
    
}
#bt-two{
    color:#ffffff;
    background-color: black; 
    padding: 12px 100px;
    margin-top: 20px;
    border-radius: 25px;

}
.cart input{
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 20px;
}
.cart .col-4{
    border:1px solid #d1d0d0;
    height: 450px;
    padding:20px;
    border-radius: 30px;
}
.cart .col-5{
    display:none;

}